google_api_key.txt
Hivemind.Ng/node_modules/*
**/*.dll
**/*.pdb
**/*.jfm
**/*.suo
**/*.cache
**/*.tmp

Database/Database.dbmdl

# nuget packages
/packages
/packages/**/*

# binaries
Database/bin/**/*
Database/obj/**/*
Hivemind/bin/**/*
Hivemind/obj/**/*
Hivemind.Tests/bin/**/*
Hivemind.Tests/obj/**/*
WebApi/bin/**/*
WebApi/obj/**/*
Hivemind.Api.Tests/bin/**/*
Hivemind.Api.Tests/obj/**/*
/.vs/Hivemind/v15/Server/sqlite3

/WebApi/Properties/PublishProfiles/HivemindApi20180402074737 - Web Deploy.pubxml.user
/WebApi/Properties/PublishProfiles/HivemindApi20180402074737 - Web Deploy.pubxml
/WebApi/Properties/PublishProfiles/FolderProfile.pubxml.user
/WebApi/Properties/PublishProfiles/FolderProfile.pubxml

# build config
build/config/*.json