google_api_key.txt
Hivemind.Ng/node_modules/*
**/*.dll
**/*.pdb
**/*.jfm
**/*.suo
**/*.cache
**/*.tmp

Database/Database.dbmdl

# nuget packages
/packages
/packages/**/*

# binaries
Database/bin/**/*
Database/obj/**/*
Hivemind/bin/**/*
Hivemind/obj/**/*
Hivemind.Tests/bin/**/*
Hivemind.Tests/obj/**/*
WebApi/bin/**/*
WebApi/obj/**/*
/.vs/Hivemind/v15/Server/sqlite3

