<div class="modal" *ngIf="showSignUpDialog" [ngClass]="{'is-active': showSignUpDialog}">
  <div class="modal-background" (click)="showSignUpDialog = false;"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <h3 class="title">Sign up</h3>
      </header>
      <section class="modal-card-body">
        <form [formGroup]="signupForm" (ngSubmit)="submitSignupForm()">
          <!--
              You can sign up for Hivemind here, or use your existing Google or GitHub account.
              <hr>
              <section>
                  <div>
                      <h5 class="subtitle">External authentication</h5>
                  </div>
                  <div class="field is-group">
                      <a class="button is-danger">
                          <span class="icon fa fa-google"></span>
                          <span>Google</span>
                      </a>
                      <a class="button is-link">
                          <span class="icon fa fa-github"></span>
                          <span>GitHub</span>
                      </a>
                  </div>
              </section>
              <hr>
              -->
          <div>
            <h5 class="subtitle">Sign up with Hivemind</h5>
          </div>
          <div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="text" [formControl]="signupForm.controls['email']">
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" [formControl]="signupForm.controls['password']">
              </div>
            </div>
            <div class="field">
              <label class="label">Confirm password</label>
              <div class="control">
                <input class="input" type="password" [formControl]="signupForm.controls['confirmPassword']">
              </div>
            </div>
            <button class="button is-primary">Submit</button>
            <div class="field" [ngClass]="{'signup-error': showSignupError }">
                <p>{{signupError}}</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showSignUpDialog = false;"></button>
</div>