<div class="modal" *ngIf="showLoginDialog" [ngClass]="{'is-active': showLoginDialog}">
    <div class="modal-background" (click)="showLoginDialog = false;"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3 class="title">Login to Hivemind</h3>
            </header>
            <section class="modal-card-body">
                <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                    <div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="text" [formControl]="loginForm.controls['email']">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" [formControl]="loginForm.controls['password']">
                            </div>
                        </div>
                        <button type="submit" class="button is-primary" [ngClass]="{'is-loading': isLoginLoading}">Submit</button>
                        <div class="field" [ngClass]="{'login-error': showLoginError }">
                            <p>{{loginError}}</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="showLoginDialog = false;"></button>
</div>