<div>
  <h1 class="title">{{gang.name}}</h1>
  <div class="house">{{gang.gangHouse}}</div>
  <div class="gangRating">{{gang.gangRating}}</div>

  <div class="tabs is-boxed">
    <ul>
      <li [ngClass]="{'is-active': activeTab == 1}">
        <a [routerLink]="['./gangers']" (click)="activeTab = 1">
          <span class="icon is-small"><i class="fa fa-users"></i></span>
          <span>Gangers</span>
        </a>
      </li>
      <li [ngClass]="{'is-active': activeTab == 2}">
        <a [routerLink]="['./weapons']" (click)="activeTab = 2">
          <span class="icon is-small"><i class="fa fa-bullseye"></i></span>
          <span>Weapons</span>
        </a>
      </li>
      <li [ngClass]="{'is-active': activeTab == 3}">
        <a [routerLink]="['./territories']" (click)="activeTab = 3">
          <span class="icon is-small"><i class="fa fa-building"></i></span>
          <span>Territories</span>
        </a>
      </li>
      <li [ngClass]="{'is-active': activeTab == 4}">
        <a [routerLink]="['./statistics']" (click)="activeTab = 4">
          <span class="icon is-small"><i class="fa fa-line-chart"></i></span>
          <span>Statistics</span>
        </a>
      </li>
      <li [ngClass]="{'is-active': activeTab == 5}">
        <a [routerLink]="['./store']" (click)="activeTab = 5">
          <span class="icon is-small"><i class="fa fa-money"></i></span>
          <span>Store</span>
        </a>
      </li>
    </ul>
  </div>
  
  <router-outlet></router-outlet>
  <!-- <gangers [gangers]="gangers"></gangers>

  <territories [territories]="territories"></territories> -->
</div>