<section class="level">
  <div class="level-item buttons has-addons">
    <span class="button" [ngClass]='{"is-success": viewGang, "is-selected": viewGang}' (click)='setViewGang()'>Gang</span>
    <span class="button" [ngClass]='{"is-primary": viewAll, "is-selected": viewAll}' (click)='setViewAll()'>All</span>
  </div>
</section>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Weapon</th>
      <th>Short Range</th>
      <th>Long Range</th>
      <th>To Hit Short</th>
      <th>To Hit Long</th>
      <th>Strength</th>
      <th>Damage</th>
      <th>Save Modifier</th>
      <th>Ammo Roll</th>
      <th>Special</th>
    </tr>
  </thead>
  <tr *ngFor='let weapon of weapons'>
    <td>{{weapon?.name}}</td>
    <td>{{weapon?.shortRange}}</td>
    <td>{{weapon?.longRange}}</td>
    <td>{{weapon?.hitShort}}</td>
    <td>{{weapon?.hitLong}}</td>
    <td>{{weapon?.strength}}</td>
    <td>{{weapon?.damage}}</td>
    <td>{{weapon?.saveMod}}</td>
    <td>{{weapon?.ammoRoll}}</td>
    <td><small>{{weapon?.specialRules}}</small></td>
  </tr>
</table>
