<div class="" *ngIf="!isGameInProgress">
  <button class="button is-primary is-pulled-right" (click)="displayAddGangerDialog()">Add Ganger</button>
</div>
<div *ngIf="gangers.length == 0">You don't have any gangers in your gang yet. Add them above.</div>

<table class="table is-striped is-fullwidth" *ngIf="gangers.length > 0">
  <thead>
    <tr>
      <th *ngIf="!isGameInProgress"></th>
      <th>Name</th>
      <th>M</th>
      <th>WS</th>
      <th>BS</th>
      <th>S</th>
      <th>T</th>
      <th>W</th>
      <th>I</th>
      <th>A</th>
      <th>Ld</th>
      <th>Equipment</th>
      <th>Skills</th>
      <th>Injuries</th>
      <th>Cost</th>
      <th>Exp.</th>
      <th *ngIf="isGameInProgress">Fleshwound</th>
      <th *ngIf="isGameInProgress">Kills</th>
      <th *ngIf="isGameInProgress">Objectives</th>
      <th *ngIf="isGameInProgress">Down</th>
      <th *ngIf="isGameInProgress">Out of Action</th>
    </tr>
  </thead>
  <tr 
    *ngFor="let ganger of gangers; let i = index" 
    [attr.data-index]="i" 
    [hidden]="!ganger.isEnabled && isGameInProgress" 
    [ngClass]="{'hasFleshWound': ganger.hasFleshWound }"
  >
    <td *ngIf="!isGameInProgress">
      <input type="checkbox" checked="checked" (change)="ganger.isEnabled = !ganger.isEnabled" />
    </td>
    <td>
      <div><strong>{{ganger.name}}</strong></div>
      <div class="is-small">{{ganger.gangerType}}</div>
    </td>
    <td>{{ganger.move}}</td>
    <td>{{ganger.weaponSkill}}</td>
    <td>{{ganger.ballisticSkill}}</td>
    <td>{{ganger.strength}}</td>
    <td>{{ganger.toughness}}</td>
    <td>{{ganger.wounds}}</td>
    <td>{{ganger.initiative}}</td>
    <td>{{ganger.attack}}</td>
    <td>{{ganger.leadership}}</td>
    <td><small>{{parseGangerEquipment(ganger)}}</small></td>
    <td></td>
    <td><small>{{parseGangerInjuries(ganger)}}</small></td>
    <td>{{ganger.cost}}</td>
    <td>{{ganger.experience}}</td>
    <td *ngIf="isGameInProgress">
        <input type="checkbox" (click)="toggleFleshwound(ganger)" />
    </td>
    <td *ngIf="isGameInProgress">
      <input type="number" class="input is-small" (keyup)="setKills(ganger.gangerId, $event)" (change)="setKills(ganger.gangerId, $event)"/>
    </td>
    <td *ngIf="isGameInProgress">
      <input type="number" class="input is-small" (keyup)="setObjectives(ganger.gangerId, $event)" (change)="setObjectives(ganger.gangerId, $event)"/>
    </td>
    <td *ngIf="isGameInProgress">
      <input type="checkbox" (click)="setDown(ganger.gangerId, $event)"/>
    </td>
    <td *ngIf="isGameInProgress">
      <input type="checkbox" (click)="setOutOfAction(ganger.gangerId, $event)" />
    </td>
  </tr>
</table>

<div class="modal" *ngIf="showAddGangerDialog" [ngClass]="{'is-active': showAddGangerDialog}">
  <div class="modal-background" (click)="showAddGangerDialog = false;"></div>
  <div class="modal-content">
      <div class="modal-card">
          <header class="modal-card-head">
              <h3 class="title">Login to Hivemind</h3>
          </header>
          <section class="modal-card-body">
              <form [formGroup]="addGangerForm" (ngSubmit)="submitAddGangerForm()">
                  <div>
                      <div class="field">
                          <label class="label">Ganger Name</label>
                          <div class="control">
                              <input class="input" type="text" [formControl]="addGangerForm.controls['gangerName']">
                          </div>
                      </div>
                      <div class="field">
                          <label class="label">Ganger Type</label>
                          <div class="select">
                            <select [formControl]="addGangerForm.controls['gangerType']" (change)="checkAddGangerType()">
                              <option value="JUVE">Juve - ¢25</option>
                              <option value="GANGER">Ganger - ¢50</option>
                              <option value="HEAVY">Heavy - ¢60</option>
                              <option value="LEADER">Leader - ¢120</option>
                            </select>
                          </div>
                      </div>
                      <button type="submit" class="button is-primary" [ngClass]="{'is-loading': isLoginLoading}">Submit</button>
                  </div>
              </form>
          </section>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showAddGangerDialog = false;"></button>
</div>
