<?xml version="1.0"?>

<connectionStrings>
  <!--<add name="default" connectionString="Server=tcp:hiveminddb-826988178.database.windows.net,1433;Initial Catalog=HivemindDb;Persist Security Info=False;User ID=HivemindPitBoss;Password=Q8M5KrWnVhZ%9ucug4^*#Y1ZwXH$c65m;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
  <add name="default" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=HivemindDb;Integrated Security=True"/>
</connectionStrings>
