<div class="modal" *ngIf="showFinishGameModal" [ngClass]="{'is-active': showFinishGameModal}">
  <div class="modal-background" (click)="showFinishGameModal = false;"></div>
  <div class="modal-content">
      <div class="modal-card">
          <header class="modal-card-head">
              <h3 class="title">Finish game</h3>
          </header>
          <section class="modal-card-body">
              <form [formGroup]="finishGameForm" (ngSubmit)="finishGame()">
                  <div>
                      <div class="field">
                          <label class="label">Game won?</label>
                          <div class="control">
                            <label class="radio">
                              <input type="radio" name="hasWon" value="true" [formControl]="finishGameForm.controls['hasWon']" />
                              Yes
                            </label>
                            <label class="radio">
                              <input type="radio" name="hasWon" value="false" [formControl]="finishGameForm.controls['hasWon']" />
                              No
                            </label>
                          </div>
                      </div>
                      <div class="field">
                        <label class="label">Was attacker?</label>
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="isAttacker" value="true" [formControl]="finishGameForm.controls['isAttacker']" />
                            Yes
                          </label>
                          <label class="radio">
                            <input class="radio" type="radio" name="isAttacker" value="false" [formControl]="finishGameForm.controls['isAttacker']" />
                            No                              
                          </label>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Opponent gang rating</label>
                        <div class="control">
                            <input class="input" type="number" value="true" [formControl]="finishGameForm.controls['opponentGangRating']">
                        </div>
                      </div>
                      <div class="field">
                          <label class="label">Game Type</label>
                          <div class="select">
                            <select [formControl]="finishGameForm.controls['gameType']">
                              <option value="GANG_FIGHT" selected>lbl_gametype_gang_fight</option>
                              <option value="SCAVENGERS">lbl_gametype_scavengers</option>
                              <option value="HIT_AND_RUN">lbl_gametype_hit_and_run</option>
                              <option value="AMBUSH">lbl_gametype_ambush</option>
                              <option value="THE_RAID">lbl_gametype_the_raid</option>
                              <option value="RESCUE_MISSION">lbl_gametype_rescue_mission</option>
                              <option value="SHOOT_OUT">lbl_gametype_shoot_out</option>
                            </select>
                          </div>
                      </div>
                      <button type="submit" class="button is-primary" [ngClass]="{'is-loading': isLoading}">Submit</button>
                  </div>
              </form>
          </section>
      </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="showFinishGameModal = false;"></button>
</div>