{{#imports}}
import { {{import}} } from './{{import}}';
{{/imports}}

export class {{name}} {
    {{#properties}}
    public {{name}}: {{type}};
    {{/properties}}

    public constructor(partial: Partial<{{name}}>) {
        {{#properties}}
        if (partial.{{name}}) {
            this.{{name}} = partial.{{name}};
        }
        {{/properties}}
    }
}