<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-dark">
        <a class="navbar-item">Hivemind</a>
    </div>
    <div class="navbar-menu is-active">
        <span class="navbar-start"></span>
        <span class="navbar-end">
            <a class="navbar-item"><span class="fa fa-github"></span></a>
            <a class="navbar-item">Login</a>
        </span>
    </div>
</nav>

<section class="section">
    <div class="container">
        <gang></gang>
    </div>
</section>