<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-dark">
        <a class="navbar-item">Hivemind</a>
    </div>
    <div class="navbar-menu is-active">
        <span class="navbar-start"></span>
        <span class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"><span class="fa fa-question"></span></a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item is-light" href="https://github.com/weirdvector/hivemind.net">GitHub</a>
                </div>
            </div>
            <a class="navbar-item" *ngIf="!isLoggedIn" (click)="showSignUpModalDialog()">Sign up</a>
            <a class="navbar-item" *ngIf="!isLoggedIn" (click)="showLoginModalDialog()">Login</a>
            <div class="navbar-item has-dropdown is-hoverable" *ngIf="isLoggedIn">
                <a class="navbar-link">{{user.email}}</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item is-light" (click)="logout()">Logout</a>
                </div>
            </div>
        </span>
    </div>
</nav>

<section class="section">
    <div class="container">
        <gang *ngIf="isLoggedIn"></gang>
        <div *ngIf="!isLoggedIn">
            <h1 class="title">Hivemind</h1>
            <p>Hivemind is an application for tracking your gangs in Games Workshop's Necromunda.</p>
            <p>Sign up or login above.</p>
        </div>
    </div>
</section>

<!-- sign up modal dialog -->
<signup-modal #signupModal></signup-modal>

<!-- login modal dialog -->
<login-modal #loginModal></login-modal>