<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand is-dark">
        <a class="navbar-item">Hivemind</a>
    </div>
    <div class="navbar-menu is-active">
        <span class="navbar-start"></span>
        <span class="navbar-end">
            <a class="navbar-item"><span class="fa fa-github"></span></a>
            <a class="navbar-item" (click)="showSignUpDialog = true;">Sign up</a>
            <a class="navbar-item" (click)="showLoginModalDialog()">Login</a>
        </span>
    </div>
</nav>

<section class="section">
    <div class="container">
        <gang></gang>
    </div>
</section>

<!-- sign up modal dialog -->
<div class="modal" *ngIf="showSignUpDialog" [ngClass]="{'is-active': showSignUpDialog}">
    <div class="modal-background" (click)="showSignUpDialog = false;"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3 class="title">Sign up</h3>
            </header>
            <section class="modal-card-body">
                <!--
                You can sign up for Hivemind here, or use your existing Google or GitHub account.
                <hr>
                <section>
                    <div>
                        <h5 class="subtitle">External authentication</h5>
                    </div>
                    <div class="field is-group">
                        <a class="button is-danger">
                            <span class="icon fa fa-google"></span>
                            <span>Google</span>
                        </a>
                        <a class="button is-link">
                            <span class="icon fa fa-github"></span>
                            <span>GitHub</span>
                        </a>
                    </div>
                </section>
                <hr>
                -->
                <section>
                    <div>
                        <h5 class="subtitle">Sign up with Hivemind</h5>
                    </div>
                    <div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Confirm password</label>
                            <div class="control">
                                <input class="input" type="password">
                            </div>
                        </div>
                        <button class="button is-primary">Submit</button>
                    </div>
                </section>
            </section>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="showSignUpDialog = false;"></button>
</div>


<!-- login modal dialog -->
<login-modal #loginModal></login-modal>